@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1d4ed8; 
  --secondary: #64748b; 
  --accent: #f59e0b; 
  --error: #dc2626; 
  --hover: #2563eb;
  --card-bg: #d8d8d8; /* Sfondo delle schede per il tema chiaro */
  --card-border: #b0b0b0; /* Colore del bordo */
  --initials-bg: #c3c6cb; /* Sfondo delle iniziali */
  --initials-text: #6b7280; /* Testo delle iniziali */
  --name-text: var(--accent);
}

/* Dark theme color variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3b82f6;
    --secondary: #94a3b8;
    --accent: #fbbf24;
    --error: #ef4444;
    --hover: #1e40af;
    --card-bg: #1f2937; /* Sfondo delle schede per il tema scuro */
    --card-border: #4b5563; /* Colore del bordo */
    --initials-bg: #374151; /* Sfondo delle iniziali */
    --initials-text: #d1d5db; /* Testo delle iniziali */
    --name-text: var(--accent);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind custom class for buttons */
@layer components {
  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg border transition;
  }

  .btn:hover {
    @apply bg-hover;
  }

  .btn-inactive {
    @apply bg-gray-200 text-gray-500 px-4 py-2 rounded-lg border cursor-not-allowed
  }
}
