@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Light theme color variables */
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1d4ed8; 
  --secondary: #64748b; 
  --accent: #f59e0b; 
  --error: #dc2626; 
  --hover: #2563eb;
  --card-bg: #d8d8d8; /* user card background for light theme */
  --card-border: #b0b0b0; /* border color for light theme */
  --initials-bg: #c3c6cb; /* Initials background for light theme */
  --initials-text: #6b7280; /* Initials text for light theme */
  --name-text: var(--accent);
  --card-hover-bg: rgba(216, 216, 216, 0.5);
  /* Rules for footer and navbar */
  --navbar-height: 64px;
  --footer-height: 32px;
}

/* Dark theme color variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3b82f6;
    --secondary: #94a3b8;
    --accent: #fbbf24;
    --error: #ef4444;
    --hover: #1e40af;
    --card-bg: #1f2937; /* user card background for dark theme */
    --card-border: #4b5563; /* border color for dark theme */
    --initials-bg: #374151; /* Initials background for dark theme */
    --initials-text: #d1d5db; /* Initials text for dark theme */
    --name-text: var(--accent);
    --card-hover-bg: rgba(0, 0, 0, 0.5);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#root,
#__next {
  height: 100%;
}

.flex-grow {
  flex-grow: 1; /* Area espandibile */
}

.min-h-screen {
  min-height: 100vh; /* Assicura che l'altezza totale sia almeno quella della viewport */
}

/* Tailwind custom class for buttons */
@layer components {
  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg border transition;
  }

  .btn:hover {
    @apply bg-hover;
  }

  .btn-inactive {
    @apply bg-gray-200 text-gray-500 px-4 py-2 rounded-lg border cursor-not-allowed
  }
}
